{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang ="en">
 <head>
  {% load staticfiles %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   

 </head> 
<body>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1>{{player_details.name}} National Cricket Team</h1>
            <br>
           <div class="row">
               {% for players in player_details.identifier1.all %}
               <div class="col-md-4">
                   <div class="imgAbt">
                       <img width="250" height="150" src="{{players.imageUri.url}}"/>
                       <div> <a href="{{players.id}}" class="stretched-link">{{players.firstname}} {{players.lastname}} </a></div>                      
                   </div>
               </div>
               {% endfor %}
               <div class="btn-group"> 
                <a href="{% url 'newplayer'  %}" style="height:50px;width:300px;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%"  class="btn btn-success" role="button" aria-pressed="true">Click Here to Add More Teams</a>                
              </div> 
           </div>
        </div>
      </div>
      
{% endblock %}
