{% extends 'base.html' %}
<!DOCTYPE html>
<html>
{% block content %}

<head>
    <meta charset="utf-8"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="btn pull-right"> 
                <a href="{% url 'batstatistics' PlayerStructure_details.pk   %}" style="height:50px;width:300px;"  class="btn btn-success" role="button" aria-pressed="true">Batting Statistics Update</a>  
                <a href="{% url 'bowlstatistics' PlayerStructure_details.pk   %}" style="height:50px;width:300px;"  class="btn btn-success" role="button" aria-pressed="true">Bowling Statistics Update</a>                
            </div> 
        </div>
        
    </div>
    
    <div>
        <div class="cb-col cb-col-100 cb-bg-white">
            <div class="cb-col cb-col-20 cb-col-rt"><img height="200" width="270" title="profile image" src="{{PlayerStructure_details.imageUri.url}}"></div>
            <div class="cb-col cb-col-80 cb-player-name-wrap">
                <h1 itemprop="name" class="cb-font-40">{{PlayerStructure_details.firstname}} {{PlayerStructure_details.lastname}}</h1>
                <h3 class="cb-font-18 text-gray">{{PlayerStructure_details.country}}</h3></div>
        </div>
        <div class="cb-col cb-col-100 cb-bg-grey">
            <div class="cb-col cb-col-33 text-black">
                <div class="cb-hm-rght">
                    <div class="cb-font-16 text-bold"> Personal Information</div>
                    <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Born</div>
                    <div class="cb-col cb-col-60 cb-lst-itm-sm"> {{PlayerStructure_details.BirthDate}} </div>
                    <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Birth Place</div>
                    <div class="cb-col cb-col-60 cb-lst-itm-sm"> {{PlayerStructure_details.BirthPlace}} </div>
                    <div class="cb-col cb-col-40 text-bold">Jersey No</div>
                    <div class="cb-col cb-col-60"> {{PlayerStructure_details.JerseyNumber}} </div>
                    <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Role</div>
                    <div class="cb-col cb-col-60 cb-lst-itm-sm"> {{PlayerStructure_details.Role}} </div>
                    <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Batting Style</div>
                    <div class="cb-col cb-col-60 cb-lst-itm-sm"> {{PlayerStructure_details.BattingStyle}}t </div>
                    <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Bowling Style</div>
                    <div class="cb-col cb-col-60 cb-lst-itm-sm"> {{PlayerStructure_details.BowlingStyle}} </div>
                </div>
            </div>
            
            <div class="cb-col cb-col-67 cb-bg-white cb-plyr-rt-col">
                <div class="cb-hm-rght cb-player-bio">
                    <div>
                        {% for players in PlayerStructure_details.playerbatperf.all %}
                        <div class="cb-plyr-tbl">
                            <div class="cb-font-16 text-bold cb-lst-dom">Batting Career Summary</div>
                            <table class="table cb-col-30 cb-plyr-thead">
                                <thead>
                                    <tr class="cb-bg-grey cb-font-12">
                                        <th></th>
                                        <th class="cb-plyr-th text-right" title="Matches Played">M</th>
                                        <th class="text-right" title="No of Innings Batted">Inn</th>
                                        <th class="text-right" title="No of Not Outs">NO</th>
                                        <th class="text-right" title="No of Runs Scored">Runs</th>
                                        <th class="text-right" title="Highest Score">HS</th>
                                        <th class="text-right" title="Batting Average">Avg</th>
                                        <th class="text-right" title="No of Balls Faced">BF</th>
                                        <th class="text-right" title="Batting Strike Rate">SR</th>
                                        <th class="text-right" title="No of 100s Scored">100</th>
                                        <th class="text-right" title="No of 200s Scored">200</th>
                                        <th class="text-right" title="No of 50s Scored">50</th>
                                        <th class="text-right" title="No of fours hit">4s</th>
                                        <th class="text-right" title="No of sixes hit">6s</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="cb-col-8"><strong>ODI</strong></td>
                                        <td class="cb-plyr-tbody text-right">{{players.batting_atches}}</td>
                                        <td class="text-right">{{players.batting_innings}}</td>
                                        <td class="text-right">{{players.batting_notouts}}</td>
                                        <td class="text-right">{{players.batting_Runs}}</td>
                                        <td class="text-right">{{players.batting_HS}}</td>
                                        <td class="text-right">{{players.batting_avg}}</td>
                                        <td class="text-right">{{players.batting_ballsfaced}}</td>
                                        <td class="text-right">{{players.batting_strikerate}}</td>
                                        <td class="text-right">{{players.batting_hundreds}}</td>
                                        <td class="text-right">{{players.batting_fifty}}</td>
                                        <td class="text-right">{{players.batting_twohundreds}}</td>
                                        <td class="text-right">{{players.batting_fours}}</td>
                                        <td class="text-right">{{players.batting_sixes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    {% for players in PlayerStructure_details.playerbowlperf.all %}
                    <div class="cb-plyr-tbl">
                        <div class="cb-font-16 text-bold cb-lst-dom">Bowling Career Summary</div>

                        <table class="table cb-col-30 cb-plyr-thead">
                            <thead>
                                <tr class="cb-bg-grey cb-font-12">
                                    <th></th>
                                    <th class="cb-plyr-th text-right" title="Matches Played">M</th>
                                    <th class="text-right" title="No of Innings Bowled">Inn</th>
                                    <th class="text-right" title="No of Balls Bowled">B</th>
                                    <th class="text-right" title="No of Runs Conceded">Runs</th>
                                    <th class="text-right" title="Wickets">Wkts</th>
                                    <th class="text-right" title="Best Bowling in Innings">BBI</th>
                                    <th class="text-right" title="Best Bowling in Match">BBM</th>
                                    <th class="text-right" title="Economy">Econ</th>
                                    <th class="text-right" title="Bowling Average">Avg</th>
                                    <th class="text-right" title="Bowling Strike Rate">SR</th>
                                    <th class="text-right" title="Five Wickets in an Innings">5W</th>
                                    <th class="text-right cb-plyr-stump" title="Ten Wickets in an Match">10W</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cb-col-8"><strong>ODI</strong></td>
                                    <td class="cb-plyr-tbody text-right">{{players.bowl_matches}}</td>
                                    <td class="text-right">{{players.bowl_innings}}</td>
                                    <td class="text-right">{{players.bowl_noofballs}}</td>
                                    <td class="text-right">{{players.bowl_runs}}</td>
                                    <td class="text-right">{{players.bowl_wkts}}</td>
                                    <td class="text-right">{{players.bowl_wickets_lbw}}</td>
                                    <td class="text-right">{{players.bowl_wickets_economy}}</td>
                                    <td class="text-right">{{players.bowl_wickets_stumped}}</td>
                                    <td class="text-right">{{players.bowl_wickets_avgt}}</td>
                                    <td class="text-right">{{players.bowl_wickets_SR}}</td>
                                    <td class="text-right">{{players.bowl_five_wickets}}</td>
                                    <td class="text-right">{{players.bowl_ten_wickets}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    {% endblock %}
</body>

</html>