{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
{% block content %}
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/fixture.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">    
</head>

<body>
    
    </header>
    <div class="page">
        <div id="fb-root"></div>
        <div id="page-wrapper" class="container" style="display:inline-block;">
            <div id="shosh" class="ad-unit shosh-embed" style="height:0; width:980px; text-align:center;"></div>
            <div style="margin-top:5px;"></div>
            <div class="cb-col-100 cb-col cb-nav-main cb-bg-white">
                <h1 class='cb-nav-hdr cb-font-24 line-ht30'>ICC Cricket World Cup 2019 - Points Table</h1>
            </div>
            
            <div class='cb-bg-white cb-col-100 cb-col'>
                <div class='cb-col-67 cb-col cb-left cb-hm-rght'>
                    
                    <table class="table cb-srs-pnts">
                        <thead>
                            <tr class="cb-srs-gray-strip ">
                                <th class="cb-srs-pnts-th text-left" style="padding-left: 6px;width:200px;">Teams</th>
                                <td class=" cb-srs-pnts-th" title="Matches Played">Mat</td>
                                <td class=" cb-srs-pnts-th" title="Matches Won">Won</td>
                                <td class=" cb-srs-pnts-th" title="Matches Lost">Lost</td>
                                <td class=" cb-srs-pnts-th" title="Matches Tied">Tied</td>
                                <td class=" cb-srs-pnts-th" title="Matches with No Result">NR</td>
                                <th class=" cb-srs-pnts-th" title="Match Points">Pts</th>
                                <td class=" cb-srs-pnts-th" title="Net Run Rate">NRR</td>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for point in pointstable %}
                            <tr class="">
                                <td class='cb-srs-pnts-name' style="width:200px;"><a class="cb-text-link" href="/cricket-team/india/2">{{point.country}}</a></td>
                                <td class="cb-srs-pnts-td">{{point.points_to_team}}</td>
                                <td class="cb-srs-pnts-td">7</td>
                                <td class="cb-srs-pnts-td">1</td>
                                <td class="cb-srs-pnts-td">0</td>
                                <td class="cb-srs-pnts-td">1</td>
                                <td class='cb-srs-pnts-td text-bold'>15</td>
                                <td class="cb-srs-pnts-td">+0.809</td>
                                <td ng-init="direction_2='up'"><a class="cb-srs-pnts-a cb-cursor" ng-click="(direction_2=='up')?direction_2 = 'down' : direction_2 = 'up'" ng-cloak><span ng-class="(direction_2=='up') ? 'cb-caret-down' : 'cb-caret-up'"></span></a></td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>        
    </div>
    {% endblock content %}
</body>

</html>