<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>

<body>

    <div class="page">
        <div id="page-wrapper" class="container" style="display:inline-block;">
            <div id="shosh" class="ad-unit shosh-embed" style="height:0; width:980px; text-align:center;"></div>
            <div style="margin-top:5px;"></div>
            <div>
                <div class="cb-col cb-col-100 cb-bg-white">
                    <div class="cb-col cb-col-20 cb-col-rt"><img height="152" width="152" title="profile image" src="/a/img/v1/152x152/i1/c170661/virat-kohli.jpg"></div>
                    <div class="cb-col cb-col-80 cb-player-name-wrap">
                        <h1 itemprop="name" class="cb-font-40">Virat Kohli</h1>
                        <h3 class="cb-font-18 text-gray">India</h3></div>
                </div>
                <div class="cb-col cb-col-100 cb-bg-grey">
                    <div class="cb-col cb-col-33 text-black">
                        <div class="cb-hm-rght">
                            <div class="cb-font-16 text-bold"> Personal Information</div>
                            <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Born</div>
                            <div class="cb-col cb-col-60 cb-lst-itm-sm"> Nov 05, 1988 (31 years) </div>
                            <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Birth Place</div>
                            <div class="cb-col cb-col-60 cb-lst-itm-sm"> Delhi </div>
                            <div class="cb-col cb-col-40 text-bold">Height</div>
                            <div class="cb-col cb-col-60"> 5 ft 9 in (175 cm) </div>
                            <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Role</div>
                            <div class="cb-col cb-col-60 cb-lst-itm-sm"> Batsman </div>
                            <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Batting Style</div>
                            <div class="cb-col cb-col-60 cb-lst-itm-sm"> Right Handed Bat </div>
                            <div class="cb-col cb-col-40 text-bold cb-lst-itm-sm">Bowling Style</div>
                            <div class="cb-col cb-col-60 cb-lst-itm-sm"> Right-arm medium </div>
                        </div>
                    </div>
                    <div class="cb-col cb-col-67 cb-bg-white cb-plyr-rt-col">
                        <div class="cb-hm-rght cb-player-bio">
                            <div class="cb-plyr-tbl">
                                <div class="cb-font-16 text-bold cb-lst-dom">Batting Career Summary</div>
                                <table class="table cb-col-100 cb-plyr-thead">
                                    <thead>
                                        <tr class="cb-bg-grey cb-font-12">
                                            <th></th>
                                            <th class="cb-plyr-th text-right" title="Matches Played">M</th>
                                            <th class="text-right" title="No of Innings Batted">Inn</th>
                                            <th class="text-right" title="No of Not Outs">NO</th>
                                            <th class="text-right" title="No of Runs Scored">Runs</th>
                                            <th class="text-right" title="Highest Score">HS</th>
                                            <th class="text-right" title="Batting Average">Avg</th>
                                            <th class="text-right" title="No of Balls Faced">BF</th>
                                            <th class="text-right" title="Batting Strike Rate">SR</th>
                                            <th class="text-right" title="No of 100s Scored">100</th>
                                            <th class="text-right" title="No of 200s Scored">200</th>
                                            <th class="text-right" title="No of 50s Scored">50</th>
                                            <th class="text-right" title="No of fours hit">4s</th>
                                            <th class="text-right" title="No of sixes hit">6s</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="cb-col-8"><strong>Test</strong></td>
                                            <td class="cb-plyr-tbody text-right">86</td>
                                            <td class="text-right">145</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">7240</td>
                                            <td class="text-right">254</td>
                                            <td class="text-right">53.63</td>
                                            <td class="text-right">12552</td>
                                            <td class="text-right">57.68</td>
                                            <td class="text-right">27</td>
                                            <td class="text-right">7</td>
                                            <td class="text-right">22</td>
                                            <td class="text-right">811</td>
                                            <td class="text-right">22</td>
                                        </tr>
                                        <tr>
                                            <td class="cb-col-8"><strong>ODI</strong></td>
                                            <td class="cb-plyr-tbody text-right">248</td>
                                            <td class="text-right">239</td>
                                            <td class="text-right">39</td>
                                            <td class="text-right">11867</td>
                                            <td class="text-right">183</td>
                                            <td class="text-right">59.34</td>
                                            <td class="text-right">12726</td>
                                            <td class="text-right">93.25</td>
                                            <td class="text-right">43</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">58</td>
                                            <td class="text-right">1116</td>
                                            <td class="text-right">122</td>
                                        </tr>
                                        <tr>
                                            <td class="cb-col-8"><strong>T20I</strong></td>
                                            <td class="cb-plyr-tbody text-right">81</td>
                                            <td class="text-right">76</td>
                                            <td class="text-right">21</td>
                                            <td class="text-right">2794</td>
                                            <td class="text-right">94</td>
                                            <td class="text-right">50.8</td>
                                            <td class="text-right">2021</td>
                                            <td class="text-right">138.25</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">24</td>
                                            <td class="text-right">258</td>
                                            <td class="text-right">76</td>
                                        </tr>
                                        <tr>
                                            <td class="cb-col-8"><strong>IPL</strong></td>
                                            <td class="cb-plyr-tbody text-right">177</td>
                                            <td class="text-right">169</td>
                                            <td class="text-right">26</td>
                                            <td class="text-right">5412</td>
                                            <td class="text-right">113</td>
                                            <td class="text-right">37.85</td>
                                            <td class="text-right">4112</td>
                                            <td class="text-right">131.61</td>
                                            <td class="text-right">5</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">36</td>
                                            <td class="text-right">480</td>
                                            <td class="text-right">190</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cb-plyr-tbl">
                                <div class="cb-font-16 text-bold cb-lst-dom">Bowling Career Summary</div>
                                <table class="table cb-col-100 cb-plyr-thead">
                                    <thead>
                                        <tr class="cb-bg-grey cb-font-12">
                                            <th></th>
                                            <th class="cb-plyr-th text-right" title="Matches Played">M</th>
                                            <th class="text-right" title="No of Innings Bowled">Inn</th>
                                            <th class="text-right" title="No of Balls Bowled">B</th>
                                            <th class="text-right" title="No of Runs Conceded">Runs</th>
                                            <th class="text-right" title="Wickets">Wkts</th>
                                            <th class="text-right" title="Best Bowling in Innings">BBI</th>
                                            <th class="text-right" title="Best Bowling in Match">BBM</th>
                                            <th class="text-right" title="Economy">Econ</th>
                                            <th class="text-right" title="Bowling Average">Avg</th>
                                            <th class="text-right" title="Bowling Strike Rate">SR</th>
                                            <th class="text-right" title="Five Wickets in an Innings">5W</th>
                                            <th class="text-right cb-plyr-stump" title="Ten Wickets in an Match">10W</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="cb-col-8"><strong>Test</strong></td>
                                            <td class="cb-plyr-tbody text-right">86</td>
                                            <td class="text-right">11</td>
                                            <td class="text-right">175</td>
                                            <td class="text-right">84</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">0/0</td>
                                            <td class="text-right">0/0</td>
                                            <td class="text-right">2.88</td>
                                            <td class="text-right">0.0</td>
                                            <td class="text-right">0.0</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">0</td>
                                        </tr>
                                        <tr>
                                            <td class="cb-col-8"><strong>ODI</strong></td>
                                            <td class="cb-plyr-tbody text-right">248</td>
                                            <td class="text-right">48</td>
                                            <td class="text-right">641</td>
                                            <td class="text-right">665</td>
                                            <td class="text-right">4</td>
                                            <td class="text-right">1/15</td>
                                            <td class="text-right">1/15</td>
                                            <td class="text-right">6.22</td>
                                            <td class="text-right">166.25</td>
                                            <td class="text-right">160.25</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">0</td>
                                        </tr>
                                        <tr>
                                            <td class="cb-col-8"><strong>T20I</strong></td>
                                            <td class="cb-plyr-tbody text-right">81</td>
                                            <td class="text-right">12</td>
                                            <td class="text-right">146</td>
                                            <td class="text-right">198</td>
                                            <td class="text-right">4</td>
                                            <td class="text-right">1/13</td>
                                            <td class="text-right">1/13</td>
                                            <td class="text-right">8.14</td>
                                            <td class="text-right">49.5</td>
                                            <td class="text-right">36.5</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">0</td>
                                        </tr>
                                        <tr>
                                            <td class="cb-col-8"><strong>IPL</strong></td>
                                            <td class="cb-plyr-tbody text-right">177</td>
                                            <td class="text-right">26</td>
                                            <td class="text-right">251</td>
                                            <td class="text-right">368</td>
                                            <td class="text-right">4</td>
                                            <td class="text-right">2/25</td>
                                            <td class="text-right">2/25</td>
                                            <td class="text-right">8.8</td>
                                            <td class="text-right">92.0</td>
                                            <td class="text-right">62.75</td>
                                            <td class="text-right">0</td>
                                            <td class="text-right">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>