<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>New Cricket Team</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    body  {
      background-image: url("{% static 'newteam.jpg'%}");
      background-color: #cccccc;
    }
    </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Please add New Team Details Below.</h1>
      <form method="POST" enctype="multipart/form-data">
        {{ form.as_p}}
        {%csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
      </form> 
      </div>
    </div>

</body>